h2 {
  margin-bottom: 30px;
  font-size: 36px;
}

input[type='text'],
input[type='password'] {
  margin-left: 15px;
  width: 500px;
}

input[type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

textarea[type='textarea'] {
  margin-left: 15px;
  width: 500px;
  height: 170px;
  resize: none;
}

p {
  font-size: 24px;
  padding: 0px;
}

.color-black {
  color: black;
}

.btn-custom,
.btn-circle,
.btn-modal {
  background-color: #ff4400;
  opacity: 0.8;
  border: none;
  transition: 0.3s;
}

.btn-custom {
  padding: 10px 60px;
  background-color: #ff4400;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  float: right;
  margin-right: 40px;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:after {
  opacity: 1;
  background-color: #ff4400;
}

.btn-alt-custom {
  padding: 10px 60px;
  background-color: #777777;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  float: right;
  margin-right: 40px;
}

.btn-alt-custom:hover,
.btn-alt-custom:active,
.btn-alt-custom:active:after {
  opacity: 1;
  background-color: #5a5a5a;
}

.padding-around {
  margin-left: 50px;
  padding: 0px;
}

.profile-button {
  border-radius: 4px;
  float: right;
  margin-right: 40px;
}

.btn-custom:hover,
.btn-circle:hover,
.btn-modal:hover {
  opacity: 1;
  background-color: #ff4400;
}

.margin-left {
  margin-left: 50px;
  padding: 0px;
}

p {
  font-size: 24px;
  padding: 0px;
}

.profile-button,
.profile-tag {
  background-color: #787878;
  color: white;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 24px;
  width: 175px;
  height: 50px;
}

.profile-tag:disabled {
  background-color: #ff4400;
  color: white;
  opacity: 1;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 24px;
  padding: 5px 40px;
}

/* Upload Page */

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  padding: 10px 55px;
  background-color: #ff4400;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
}

.custom-file-upload:hover,
.custom-file-upload:active,
.custom-file-upload:active:after {
  opacity: 1;
  background-color: #ff4400;
}

.upload-layout {
  display: flex;
  margin-top: 20px;
}

.upload-filename {
  position: relative;
  left: 20px;
  top: 10px;
  text-decoration: underline;
}

.upload-break {
  margin: 75px 0px 25px;
  opacity: 1;
  color: white;
}

/* Video Page */

/* modal page */

.circle {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-left-less {
  margin-left: 40px;
}
