h2 {
  margin-bottom: 30px;
  font-size: 36px;
}

/* input[type='text'],
input[type='password'] {
  margin-left: 15px;
  width: 500px;
} */

input[type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/*
textarea[type='textarea'] {
  margin-left: 15px;
  width: 500px;
  height: 170px;
  resize: none;
} */

p {
  font-size: 24px;
  padding: 0px;
}

/* auth page */
.login-form-div {
  margin-top: 86px;
  /* min-width: 500px;
  width: 540px; */
}

.login-button {
  width: 172px;
  height: 44px;
}

.register-form-div {
  margin-top: 86px;
  /* width: 540px; */
}

.register-button {
  width: 248px;
  height: 44px;
}

.color-black {
  color: black;
}

.btn-custom,
.btn-circle,
.btn-modal,
.btn-nav {
  background-color: #ff4400;
  opacity: 0.8;
  border: none;
  transition: 0.3s;
}

.btn-custom {
  padding: 10px 60px;
  background-color: #ff4400;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  float: right;
}

/* .btn-custom {
  padding: 10px 60px;
  background-color: #ff4400;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  float: right;
  margin-right: 40px; 
  position: static; 
} */

.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:after,
.btn-nav:hover,
.btn-nav:active,
.btn-nav:active:after {
  opacity: 1;
  background-color: #ff4400;
}

.btn-alt-custom {
  padding: 10px 60px;
  background-color: #777777;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  float: right;
}

.btn-alt-custom:hover,
.btn-alt-custom:disabled,
.btn-alt-custom:active,
.btn-alt-custom:active:after {
  opacity: 1;
  background-color: #5a5a5a;
}

.btn-nav {
  margin: 0px 50px 5px 10px;
  font-size: 20px;
}

.padding-around {
  margin-left: 50px;
  padding: 0px;
}

/* Profile page */

.profile-div {
  margin-top: 36px;
}

.center-profile-text {
  text-align: center;
}

.center-profile {
  margin: 0 auto;
}

.btn-custom:hover,
.btn-circle:hover,
.btn-modal:hover {
  opacity: 1;
  background-color: #ff4400;
}

.margin-left {
  margin-left: 50px;
  padding: 0px;
}

.profile-pic-container {
  cursor: pointer;
  position: relative;
  width: 50%;
}

.profile-pic {
  cursor: pointer;
  opacity: 1;
  display: block;
  /* width: 100%;
  height: auto; */
  transition: 0.5s ease;
  backface-visibility: hidden;
  object-fit: cover;
  width: 175px;
  height: 175px;
}

.profile-pic-middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-container:hover .profile-pic {
  opacity: 0.3;
}

.profile-pic-container:hover .profile-pic-middle {
  opacity: 1;
}

.profile-pic-text {
  color: white;
  font-size: 18px;
  padding: 16px 32px;
  position: absolute;
  top: 35%;
}

.profile-pic-upload-btn {
  width: 200px;
  height: 50px;
}

.profile-upload-layout {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}

.profile-pic-upload-note {
  margin: 0px;
  font-size: 15px;
  padding: 0px;
}

.image-preview {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-tag {
  background-color: #787878;
  color: white;
  border-radius: 10px;
  margin-left: 15px;
  margin-top: 3px;
  font-size: 20px;
  width: 175px;
  height: 50px;
}

.profile-button {
  margin-top: 2vh;
}

.profile-button-chat {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username-tag-div {
  display: flex;
}

.profile-tag:disabled {
  background-color: #ff4400;
  color: white;
  opacity: 1;
  border-radius: 10px;
  font-size: 15px;
  width: 100px;
  height: 40px;
}

.profile-spinner {
  margin-left: 10px;
}

/* review page */
.review-div {
  margin-top: 36px;
}

.review-word-span {
  white-space: normal;
}

.review-loading-div {
  margin-top: 70px;
}

.review-button {
  font-size: 16px;
  margin-left: 0px;
  margin-right: 15px;
  padding: 8px 25px;
  border-radius: 5px;
}

.review-username-title {
  font-size: 36px;
  font-family: 'Inter', 'Calibri';
  font-weight: 500;
}

.review-header-div {
  margin-bottom: 20px;
}

.review-button-alt {
  margin: 0px 40px 5px 5px;
  padding: 8px 23px;
  font-size: 16px;
  background-color: #929292;
  border: 0px;
}

.review-button-alt:hover,
.review-button-alt:active,
.review-button-alt:active:after {
  opacity: 1;
  background-color: #727272;
}

.create-review-modal {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.create-review-textarea {
  margin-top: 10px;
}

.create-review-header {
  display: flex;
}

.create-review-rating-div {
  margin-top: 6px;
  margin-left: 14px;
}

.btn-review-custom {
  padding: 10px 60px;
  background-color: #ff4400;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  float: right;
}

.btn-review-custom:hover,
.btn-custom:active,
.btn-custom:active:after,
.btn-nav:hover,
.btn-nav:active,
.btn-nav:active:after {
  opacity: 1;
  background-color: #ff4400;
}

.btn-review-alt-custom {
  padding: 10px 60px;
  background-color: #777777;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  float: right;
}

.btn-review-alt-custom:hover,
.btn-alt-custom:disabled,
.btn-alt-custom:active,
.btn-alt-custom:active:after {
  opacity: 1;
  background-color: #5a5a5a;
}

.create-review-btn {
  width: 173px;
  height: 44px;
}

.no-review-message {
  text-align: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 200px;
  background-color: white;
  border-left: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
}

/* Upload Page */

.upload-div {
  margin-top: 36px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  padding: 10px 55px;
  background-color: #ff4400;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
}

.custom-file-upload:hover,
.custom-file-upload:active,
.custom-file-upload:active:after {
  opacity: 1;
  background-color: #ff4400;
}

.upload-layout {
  display: flex;
  margin-top: 20px;
}

.upload-filename {
  position: relative;
  left: 20px;
  top: 10px;
  text-decoration: underline;
}

.upload-break {
  margin: 75px 0px 25px;
  opacity: 1;
  color: white;
}

.progress-bar-div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.progress-bar {
  background-color: #ffb570;
  color: white;
}

.upload-btn-size {
  width: 173px;
  height: 44px;
}

.upload-video-helper {
  display: none;
}

/* Video Page */
.video-header {
  margin-top: 25px;
  font-size: 20px;
  font-weight: regular;
  padding: 0px 5px;
}

.video-title {
  font-size: 35px;
  font-family: 'Inter';
  font-weight: 400;
}

.video-views-subject {
  display: flex;
}

.video-date {
  text-align: right;
  float: right;
}

.video-profile-picture {
  object-fit: cover;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  cursor: pointer;
}

.video-name-reviews {
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
  vertical-align: center;
  height: 75px;
}

.video-student-reviews {
  text-align: right;
}

.video-student-chat {
  margin-top: 7px;
  width: 80px;
  height: 36px;
  display: flex;
  align-items: center;
  float: right;
  cursor: pointer;
  background-color: #ff6229;
  border: #ff5315;
}

.video-student-chat-spinner {
  margin-left: 18px;
}

.video-student-chat:hover,
.video-student-chat:disabled,
.video-student-chat:active,
.video-student-chat:active:after {
  opacity: 1;
  background-color: #ce400c;
}

.video-student-likes {
  display: flex;
  align-items: center;
  float: right;
  cursor: pointer;
}

.video-student-likes-unauth {
  display: flex;
  align-items: center;
  float: right;
}

.video-student-likecount {
  margin-left: 3px;
}

.video-description-div {
  margin-top: 40px;
  margin-bottom: 20px;
}

.video-description-btn {
  border: none;
  background-color: #fcfcfc;
  color: rgb(87, 87, 87);
  font-weight: 600;
  font-family: 'Inter', 'Calibri';
}

/* video comment  */

.video-comment-spinner {
  margin: 0 auto;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.video-comment-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.video-add-comment {
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-add-comment-button {
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-bottom: 1px solid #d6d6d6;
}

.video-submit-comment {
  margin-left: 10px;
}

.video-comment-button-div {
  margin-top: 5px;
}

.btn-comment-custom {
  padding: 10px 40px;
  background-color: #ff4400;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  float: right;
  margin-right: 5px;
}

.btn-comment-custom:hover,
.btn-comment-custom:active,
.btn-comment-custom:active:after {
  opacity: 1;
  background-color: #ff4400;
}

.btn-comment-alt-custom {
  padding: 10px 40px;
  background-color: #777777;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  float: right;
}

.btn-comment-alt-custom:hover,
.btn-comment-alt-custom:disabled,
.btn-comment-alt-custom:active,
.btn-comment-alt-custom:active:after {
  opacity: 1;
  background-color: #5a5a5a;
}

/* video recommendation */
.video-reco-div {
  margin-top: 15px;
  margin-bottom: 100px;
}

.browse-more-vid {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ff7a4a;
  border-radius: 1%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.browse-more-sentence {
  color: white;
  font-weight: 500;
  font-family: 'Roboto', 'Arial';
  font-size: 28px;
  text-align: center;
}

.browse-more-header {
  color: white;
  font-weight: 400;
  font-family: 'Inter', 'Calibri';
  font-size: 13px;
  text-align: center;
  margin-bottom: 2px;
}

.browse-label {
  display: flex;
  align-items: center;
}

/* modal page */

.circle {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-left-less {
  margin-left: 40px;
}

/* home */

.home-div {
  margin-top: 36px;
}

.dropdown-div {
  display: flex;
  float: right;
}

#dropdown-basic {
  background-color: #fcfcfc;
  border-color: #fcfcfc;
  color: rgb(51, 51, 51);
}

#dropdown-basic:focus {
  background-color: #fcfcfc;
  border-color: #fcfcfc;
  color: rgb(51, 51, 51);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.home-spinner-child {
  position: absolute;
  top: 40%;
  left: 50%;
}

.home-filter-description {
  padding-top: 7px;
}

.home-filter-break {
  margin-top: 0px;
  margin-bottom: 25px;
}

.home-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 170px;
  background-color: #fcfcfc;
  position: relative;
}

.home-footer-break {
  margin-bottom: 27px;
}

.home-video-row {
  margin-bottom: 30px;
}

.home-content-end {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.tabs {
  font-size: 20px;
}

.modal-input {
  margin-bottom: 10px;
  font-size: 18px;
}

.home-searchbar-refine {
  margin-bottom: 30px;
}

.home-searchbar {
  margin-left: auto;
  margin-right: 0;
  width: 100%;
  max-width: 450px;
}

.home-clearsearch-btn {
  padding: 10px 30px;
  background-color: #fd5112;
  opacity: 0.8;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  float: right;
  vertical-align: middle;
  display: flex;
  align-items: baseline;
}

.home-clearsearch-btn:hover,
.home-clearsearch-btn:active {
  opacity: 1;
  background-color: #ff4400;
}

/* alert */

/* chat */
.active-chat {
  height: 100px;
  border-radius: 6px 6px 0px 0px;
}

.back-arrow {
  font-size: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px 10px;
  cursor: pointer;
}

.chatroom-group-search {
  border-radius: 6px 6px 0px 0px;
}

.chatroom-group {
  border-radius: 0px 0px 6px 6px;
}

.conversation {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.chatroom {
  padding: 0px;
  cursor: pointer;
}

.chatroom:hover,
.chatroom:active {
  filter: brightness(90%);
}

.chatroom-selected {
  background-color: #e6e6e6;
  padding: 0px;
}

.message {
  padding: 8px 20px;
  list-style: none;
  border-radius: 20px;
  min-width: none;
  max-width: 75%;
  word-wrap: break-word;
}

.sent {
  background-color: #ff6600;
  border-bottom-right-radius: 0px;
  margin-left: auto;
  color: white;
}

.replies {
  background-color: #fcfcfc;
  border-bottom-left-radius: 0px;
  margin-right: auto;
}

.chat-sendbox {
  border-radius: 0px 0px 0px 6px;
}

.chat-sendbutton {
  border-radius: 0px 0px 6px 0px;
}

.hide-chat {
  position: absolute;
  color: #ffffff;
  top: 5%;
  right: 4%;
  padding: 5px 5px 15px 15px;
}

.hide-chat:hover {
  position: absolute;
  color: #969696;
  top: 5%;
  right: 4%;
  cursor: pointer;
}

.hide-chat-selected {
  position: absolute;
  color: #e6e6e6;
  top: 5%;
  right: 4%;
  padding: 5px 5px 15px 15px;
}

.hide-chat-selected:hover {
  position: absolute;
  color: rgb(117, 117, 117);
  top: 5%;
  right: 4%;
  cursor: pointer;
}

.chat-empty-space {
  height: 10px;
}

.chat-photo {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 15px 15px 40px;
}

#recipient-header {
  font-size: 24px;
  margin-left: 8px;
}

.chat-box {
  overflow-y: scroll;
  height: 65vh;
  background-color: lightgrey;
  padding: 20px;
  border-radius: 0px;
}

@media (min-width: 768px) {
  .center-profile {
    float: left;
  }

  .center-profile-text {
    text-align: left;
  }
}

@media (min-width: 365px) {
  .review-word-span {
    white-space: nowrap;
  }
}
