h2 {
  margin-bottom: 30px;
  font-size: 36px;
}

input[type='text'],
input[type='password'] {
  margin-left: 15px;
  width: 500px;
}

input[type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

textarea[type='textarea'] {
  margin-left: 15px;
  width: 500px;
  height: 170px;
  resize: none;
}

p {
  font-size: 24px;
  padding: 0px;
}

/* auth page */
.login-form-div {
  margin-top: 50px;
  min-width: 500px;
  width: 540px;
}

.login-button {
  width: 172px;
  height: 44px;
}

.register-form-div {
  margin-top: 50px;
  width: 540px;
}

.register-button {
  width: 248px;
  height: 44px;
}

.color-black {
  color: black;
}

.btn-custom,
.btn-circle,
.btn-modal,
.btn-nav {
  background-color: #ff4400;
  opacity: 0.8;
  border: none;
  transition: 0.3s;
}

.btn-custom {
  padding: 10px 60px;
  background-color: #ff4400;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  float: right;
  margin-right: 40px;
}

/* .btn-custom {
  padding: 10px 60px;
  background-color: #ff4400;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  float: right;
  margin-right: 40px; 
  position: static; 
} */

.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:after,
.btn-nav:hover,
.btn-nav:active,
.btn-nav:active:after {
  opacity: 1;
  background-color: #ff4400;
}

.btn-alt-custom {
  padding: 10px 60px;
  background-color: #777777;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
  float: right;
}

.btn-alt-custom:hover,
.btn-alt-custom:disabled,
.btn-alt-custom:active,
.btn-alt-custom:active:after {
  opacity: 1;
  background-color: #5a5a5a;
}

.btn-nav {
  margin: 0px 50px 5px 10px;
  font-size: 20px;
}

.padding-around {
  margin-left: 50px;
  padding: 0px;
}

.profile-button {
  border-radius: 4px;
  float: right;
}

.btn-custom:hover,
.btn-circle:hover,
.btn-modal:hover {
  opacity: 1;
  background-color: #ff4400;
}

.margin-left {
  margin-left: 50px;
  padding: 0px;
}

.profile-pic {
  cursor: pointer;
}

.profile-button,
.profile-tag {
  background-color: #787878;
  color: white;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 24px;
  width: 175px;
  height: 50px;
}

.profile-tag:disabled {
  background-color: #ff4400;
  color: white;
  opacity: 1;
  border-radius: 10px;
  font-size: 24px;
  padding: 5px 40px;
}

/* Upload Page */

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  padding: 10px 55px;
  background-color: #ff4400;
  opacity: 0.8;
  border-radius: 4px;
  border: none;
  transition: 0.3s;
}

.custom-file-upload:hover,
.custom-file-upload:active,
.custom-file-upload:active:after {
  opacity: 1;
  background-color: #ff4400;
}

.upload-layout {
  display: flex;
  margin-top: 20px;
}

.upload-filename {
  position: relative;
  left: 20px;
  top: 10px;
  text-decoration: underline;
}

.upload-break {
  margin: 75px 0px 25px;
  opacity: 1;
  color: white;
}

.progress-bar-div {
  margin-top: 15px;
  margin-bottom: 15px;
}

.progress-bar {
  background-color: #ffb570;
  color: white;
}

.upload-btn-size {
  width: 173px;
  height: 44px;
}

.upload-video-helper {
  display: none;
}

/* Video Page */
.video-header {
  margin-top: 25px;
  font-size: 20px;
  font-weight: regular;
  padding: 0px 5px;
}

.video-title {
  font-size: 35px;
  font-weight: 500;
}

.video-views-subject {
  display: flex;
}

.video-date {
  text-align: right;
  float: right;
}

.video-profile-picture {
  object-fit: cover;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  cursor: pointer;
}

.video-name-reviews {
  padding-left: 10px;
  margin-bottom: 15px;
  vertical-align: center;
  height: 75px;
}

.video-student-reviews {
  text-align: right;
}
/* modal page */

.circle {
  border-radius: 50%;
  height: 175px;
  width: 175px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-left-less {
  margin-left: 40px;
}

/* home */

.dropdown-div {
  display: flex;
  float: right;
}

#dropdown-basic {
  background-color: #fcfcfc;
  border-color: #fcfcfc;
  color: rgb(51, 51, 51);
}

#dropdown-basic:focus {
  background-color: #fcfcfc;
  border-color: #fcfcfc;
  color: rgb(51, 51, 51);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.home-spinner-child {
  position: absolute;
  top: 40%;
  left: 50%;
}

.home-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #fcfcfc;
  position: relative;
}

.home-video-row {
  margin-bottom: 50px;
}
.tabs {
  font-size: 20px;
}

.modal-input {
  margin-bottom: 10px;
  font-size: 18px;
}
/* alert */
