[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
psycopg2 = "*"
dj-database-url = "*"
django-cors-headers = "*"
mux-python = {git = "https://github.com/muxinc/mux-python.git"}
django-environ = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
