@font-face {
    font-family: "Inter UI semi-bold";
    font-weight: 400;
    src: url(../fonts/Inter-SemiBold.ttf) format('truetype');
}

.navbar {
    padding: 50px 0px;
    background-color: #fcfcfc;
}

.navbar-brand {
    color: #FF4400 !important;
    padding-left: 10px;
    font-size: 36px;
    font-family: "Inter UI semi-bold" !important;
}

.nav-link {
    color: black !important;
    font-size: 24px;
    font-family: "Inter UI semi-bold" !important;
    margin-left: 10px;
}

nav a:hover {
    color: #FF4400 !important;
    text-decoration: underline !important;
}