body {
  background-color: #fcfcfc !important;
  font-weight: 400;
  font-family: 'Inter' !important;
  margin-top: 114px !important;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  font-family: 'Inter' !important;
}
