@font-face {
  font-family: 'Inter UI semi-bold';
  font-weight: 400;
  src: url('./fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter UI regular';
  font-weight: normal;
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
}

body {
  background-color: #fcfcfc !important;
  font-family: 'Inter UI regular' !important;
  margin-top: 200px !important;
}

h2 {
  font-size: 36px;
  font-family: 'Inter UI semi-bold' !important;
}
